@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Sharpreads! Keep all your favorite technical books in one place! :)</a>.</p>
</div>
